extends layout

block content
    h1.text-center Change Password 
    div.account-wall
        form(class='form-delete-account', action='/change-password', method='POST')

            div(class="form-group #{new_password !== undefined ? 'has-danger' : ''}")
                label(class="form-control-label", for="new-password") New Password
                input(type="password", name="new-password", class="#{new_password !== undefined ? 'form-control-danger' : ''} form-control")
                if new_password
                    div(class="form-control-feedback") #{new_password}

            div(class="form-check #{password_confirm !== undefined ? 'has-danger' : ''}")
                label(class="form-control-label" for="password-confirm") Re-type Password
                input(type='password', name='password-confirm', class="form-control #{new_password !== undefined ? 'form-control-danger' : ''}")
                if password_confirm
                    div(class="form-control-feedback") #{password_confirm}

            #message
                if message
                    p.text-center.error-message #{message}

            button(class='btn btn-lg btn-primary btn-block confirm-delete', type='submit') Change Password 
            span.clearfix
    div.account-footer
        a(href='/home') &#x276E; Back to Account 
