extends layout

block content
    h1.text-center Delete Duk Account
    div.account-wall
        form(class='form-delete-account', action='/delete-account', method='POST')

            div(class="form-group #{type_delete !== undefined ? 'has-danger' : ''}")
                label(class="form-control-label", for="type-delete") Confirm by typing "Delete".
                input(type='text', name='type-delete', class="#{type_delete !== undefined ? 'form-control-danger' : ''} form-control")
                if type_delete
                    div(class="form-control-feedback") #{type_delete}

            div(class="form-check #{confirm_check !== undefined ? 'has-danger' : ''}")
                label(class="form-check-label")
                    input(type='checkbox', class="form-check-input", name='confirm-check')
                    | I understand that clicking the 'Confirm Delete' button may remove all data associated with my account including photos, tags, and geographic data.

            #message
                if message
                    p.text-center.error-message #{message}

            button(class='btn btn-lg btn-primary btn-block confirm-delete', type='submit') Confirm Delete 
            span.clearfix
    div.account-footer
        a(href='/home') &#x276E; Back to Account 
